.custom-table {
  border: 2.5px solid black;
  border-radius: 8px;        
}

.custom-table thead {
  background-color: #ffcc80;              
  font-weight: bold;
}

.custom-table td, 
.custom-table th {
  border: 2.5px solid black;
  background-color: rgb(236, 196, 120);
}
