.bg-body-tertiary {
    height: 100px;
    text-align: center;
    font-size: 0.8em;
    background: repeating-linear-gradient(to right, #EFD9B4, #ffcc66, #d6c1a3, #ffcc66, #EFD9B4);height: 100px; 
    display: flex;
    align-items: center;
}

nav.bg-body-tertiary .nav-link {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 20px;
    text-decoration: none;
    font-size: 2rem;
    color: black;
}

nav.bg-body-tertiary a {
    font-size: 3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav.bg-body-tertiary .nav-link:hover {
    color: rgb(230, 122, 50);
}

.me-auto {
    font-weight: bold;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 70px;
    height: 70px;
    border-radius: 5px;
}