.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100vw;
  min-height: 80vh;
  font-family: "Winky Rough", sans-serif;
  color: #251b07;
  gap: 20px;
}

.dashboard-container h2 {
  font-family: "Winky Rough", sans-serif;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgb(236, 104, 27);
  margin-bottom: 20px;
  text-align: center;
}

.dashboard-container ul {
  list-style: none;
  padding: 15px 30px;
  margin: 0;
  font-size: 1.6rem;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 3px 3px 5px black;
}

.dashboard-container li {
  margin: 10px 0;
}

.dashboard-container p {
  font-size: 1.4rem;
  color: #a34f07;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .dashboard-container h2 {
    font-size: 3rem;
  }

  .dashboard-container ul {
    font-size: 1.8rem;
    padding: 20px 40px;
  }
}

@media screen and (min-width: 1024px) {
  .dashboard-container {
    padding: 40px;
  }
}

